@import "../jeet/index";
@import "compass/reset";
@import "compass";
@import "variables";
@import "breakpoint";

// Mixins
@mixin froglinks($color) {
  display: block;
  color: $color;
  text-decoration: none;
  margin-bottom: 24px;
  &:hover {
    text-decoration: underline;
  }
}

// Placeholder selectors for extends
%quarter-col {

  // Uses Jeet's col() mixin
  @include col(1/4);

  // Uses Compass' box-sizing to recalculate width when adding padding below
  @include box-sizing(border-box);
  padding: 2px 0.5px;


  // Uses Breakpoint mixin
  @include breakpoint($breakpoint-medium-width) {
    @include col(2/4);
    padding: 5px;
  }
}

%half-col {
  @include col(1/2);
  @include box-sizing(border-box);
  padding: 0 0px;


  @include breakpoint($breakpoint-medium-width) {
    @include col(1/1);
    padding: 0 24px;
  }

}

%full-col {
  @include col(1/1);
  @includ box-sizing(border-box);
}

// Classes for JavaScript
.clicked-gray {
  background: lightgray;
}

.unclicked-white {
  background: white;
}

// Main Styles
.above-header {
  background: $frogblack;
}

#page {
  
  @include center(1225px);

}

#main-nav {
  a {
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    padding: 0 24px 0 24px;

    @include breakpoint($breakpoint-small-width) {
      padding: 0 12px 0 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

header#top {
  padding: 50px 24px;
  background: $froggreen url("../images/bullfrog-header.png") no-repeat right center;
  margin-bottom: 48px;

  @include breakpoint($breakpoint-medium-width) {
    margin-bottom: 0;
  }
  
  .logo a {
    font-size: 72px;
    color: white;
    text-decoration: none;

    @include breakpoint($breakpoint-small-width){
      font-size: 48px;
    }
  }
}

#content {

  @include col(2/4);
  @include box-sizing(border-box);
  padding: 24px;

  @include breakpoint($breakpoint-medium-width) {
    @include col(1/1);
    padding: 24px;
  }

  // Resize horned-frog to fit in its column
  #horned-frog {
    width: 100%; 
    @include box-sizing(border-box);

    @include breakpoint($breakpoint-medium-width) {
      padding: 0 20%;
    }

    @include breakpoint($breakpoint-small-width) {
      padding: 0;
    }
  }
}

article {
  font-size: 16px;
  line-height: 27px;
  
  h1 {
    font-size: 36px;
    color: $froggreen;
    margin: 24px 0;
  }
  
  p {
    font-family: $frogsans;
  }
}

h2 {
  font-size: 20px;
  color: $froggreen;

  margin: 10px 0;
}

section.other-content {
  
  @extend %half-col;
  padding: 24px;

  h2 a {

    @extend %half-col;
    margin: 1%;
    padding: 1%;

    text-align: center;
    text-decoration: none;
    
    color: $froggreen;
    border: 1px solid lightgray;    
  }

  section.content-center,
  section.content-right {
    
    @extend %full-col;
    
    a {
      @include froglinks($froggreen);    
    }

  }

  section.content-center {

    ul {
      margin-top: 24px;

      font-family: $frogsans;

      li {
        a {
          @include froglinks($froggreen);        
        }
      }
    }
  }

  section.content-right {

    article {
 
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    
    h3 {
      @extend h2;
      margin-bottom: 12px;
    }
}
    
}

footer {
  clear: both;
  background: $frogblack;
  padding: 20px;
  color: white;
}

.froggy {
  background: green;
}
