@import "../jeet/index";
@import "compass/reset";
@import "compass";
@import "variables";
@import "breakpoint";

// Mixins
@mixin froglinks($color) {
  display: block;
  color: $color;
  text-decoration: none;
  margin-bottom: 24px;
  &:hover {
    text-decoration: underline;
  }
}

// Placeholder selectors
%quarter-col {

  // Uses Jeet's col() mixin
  // col(1/4) means style as a column that takes up a quarter of the screen
  @include col(1/4);

  // Uses Compass' box-sizing to recalculate width when adding padding below
  @include box-sizing(border-box);
  padding: 2px 0.5px;


  // Uses Breakpoint
  // At the medium width breakpoint, takes up 2 out of 4 columns on the page
  @include breakpoint($breakpoint-medium-width) {
    @include col(2/4);
    padding: 5px;
  }

  // At the small width breakpoint, takes up 1 out of 1 column on the page (so the entire page's width)
  // @include breakpoint($breakpoint-small-width) {
  //   @include col(1/1);
  //   padding: 10px;
  // }

  // The mixins above replace the following styles for a more fluid design
  // margin: 0 24px;
  // width: 267px;
  // float: left;
}

%half-col {
  @include col(1/2);
  @include box-sizing(border-box);
  padding: 0 0px;


  @include breakpoint($breakpoint-medium-width) {
    @include col(1/1);
    padding: 0 24px;
  }

}

%full-col {
  @include col(1/1);
  @includ box-sizing(border-box);
}

.clicked-gray {
  background: lightgray;
}

.unclicked-white {
  background: white;
}


// Main styles
h2 {
  font-size: 20px;
  color: $froggreen;

  margin: 10px 0;
}

.above-header {
  background: $frogblack;
}

#page {
  
  // The center() mixin is from jeet, making 1225px the max-width
  @include center(1225px);

}

#main-nav {
  a {
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    padding: 0 24px 0 24px;

    @include breakpoint($breakpoint-small-width) {
      padding: 0 12px 0 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

header#top {
  padding: 50px 24px;
  background: $froggreen url("../images/bullfrog-header.png") no-repeat right center;
  margin-bottom: 48px;

  @include breakpoint($breakpoint-medium-width) {
    margin-bottom: 0;
  }
  
  .logo a {
    font-size: 72px;
    color: white;
    text-decoration: none;

    @include breakpoint($breakpoint-small-width){
      font-size: 48px;
    }
  }
}

#content {
  // Uses the Jeet mixin col() to give #content a column that is 2/4th width of the page
  @include col(2/4);

  // Uses Compass' box-sizing() mixin
  // Box-sizing figures out the math when we add padding to the element, 
  // and resize the width of the element.
  @include box-sizing(border-box);

  // Uses Breakpoint
  // At the medium breakpoint (768px), #content will take up the entire page (1/1)
  @include breakpoint($breakpoint-medium-width) {
    @include col(1/1);

     //Box-sizing above recalculate the width after adding padding
    padding: 24px;
  }

  // Resize horned-frog to fit in its column
  #horned-frog {
    padding: 24px;
    width: 100%; 
    @include box-sizing(border-box);
  }
}

article {
  font-size: 16px;
  line-height: 27px;
  
  h1 {
    font-size: 36px;
    color: $froggreen;
    margin: 24px 0;
  }
  
  p {
    font-family: $frogsans;
  }
}

section.other-content {
  
  @extend %half-col;
  padding: 24px;

  h2 a {
    @extend %half-col;
    padding: 5px 0;
    margin: 5px;
    
    text-align: center;
    text-decoration: none;
    
    color: $froggreen;
    border: 1px solid lightgray;    
  }

  section.content-center,
  section.content-right {
    
    @extend %full-col;
    
    a {
      @include froglinks($froggreen);    
    }

  }

  section.content-center {

    ul {
      margin-top: 24px;

      font-family: $frogsans;

      li {
        a {
          @include froglinks($froggreen);        
        }
      }
    }
  }

  section.content-right {

    article {
 
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    
    h3 {
      @extend h2;
      margin-bottom: 12px;
    }
}
    
}

footer {
  clear: both;
  background: $frogblack;
  padding: 20px;
  color: white;
}

.froggy {
  background: green;
}
