@import "../jeet/index";
@import "compass/reset";
@import "compass";
@import "variables";
@import "breakpoint";

// Mixins
@mixin froglinks($color) {
  display: block;
  color: $color;
  text-decoration: none;
  margin-bottom: 24px;
  &:hover {
    text-decoration: underline;
  }
}

// Placeholder selectors
%quarter-col {

  // Uses Jeet's col() mixin
  // col(1/4) means style as a column that takes up a quarter of the screen
  @include col(1/4);

  // Uses Compass' box-sizing to recalculate width when adding padding below
  @include box-sizing(border-box);
  padding: 0px;

  // Uses Breakpoint
  // At the medium width breakpoint, takes up 2 out of 4 columns on the page
  @include breakpoint($breakpoint-medium-width) {
    @include col(2/4);
    padding: 12px;
  }

  // At the small width breakpoint, takes up 1 out of 1 column on the page (so the entire page's width)
  @include breakpoint($breakpoint-small-width) {
    @include col(1/1);
    padding: 24px;
  }

  // The mixins above replace the following styles for a more fluid design
  // margin: 0 24px;
  // width: 267px;
  // float: left;
}

// Main styles
h2 {
  font-size: 20px;
  color: $froggreen;
  margin: 24px 0;
}

.above-header {
  background: $frogblack;
}

#page {
  // The center() mixin is from jeet
  // center(1225px) makes 1225px the max-width and center
  @include center(1225px);

  // The center(1225px) mixin replaces the following styles
  // width: 1225px;
  // margin: 0 auto;
}

#main-nav {
  a {
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    padding: 0 24px 0 24px;

    @include breakpoint($breakpoint-small-width) {
      padding: 0 12px 0 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

header#top {
  padding: 50px 24px;
  background: $froggreen url("../images/bullfrog-header.png") no-repeat right center;
  margin-bottom: 48px;

  @include breakpoint($breakpoint-medium-width) {
    margin-bottom: 0;
  }
  
  .logo a {
    font-size: 72px;
    color: white;
    text-decoration: none;

    @include breakpoint($breakpoint-small-width){
      font-size: 48px;
    }
  }
}

#content {
  // Uses the Jeet mixin col() to give #content a column that is 2/4th width of the page
  @include col(2/4);

  // Uses Compass' box-sizing() mixin
  // Box-sizing figures out the math when we add padding to the element, 
  // and resize the width of the element.
  @include box-sizing(border-box);

  // Uses Breakpoint
  // At the medium breakpoint (768px), #content will take up the entire page (1/1)
  @include breakpoint($breakpoint-medium-width) {
    @include col(1/1);

     //Box-sizing above recalculate the width after adding padding
    padding: 24px;
  }

  // Mixins above replace the code below for a more fluid design
  // width: 578px;
  // float: left;
}

article {
  font-size: 16px;
  line-height: 27px;
  h1 {
    font-size: 36px;
    color: $froggreen;
    margin: 24px 0;
  }
  p {
    font-family: $frogsans;
  }
}

section.content-center,
section.content-right {
  @extend %quarter-col;
  a {
    @include froglinks($froggreen);
  }
}

section.content-center {
  ul {
    font-family: $frogsans;
    li {
      a {
        @include froglinks($froggreen);
      }
    }
  }
}


section.content-right {
  article {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  h3 {
    @extend h2;
    margin-bottom: 12px;
  }
}

footer {
  clear: both;
  background: $frogblack;
  padding: 20px;
  color: white;
}

.froggy {
  background: green;
}
