/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, section.content-right article h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

section.content-center,
section.content-right {
  margin: 0 24px;
  width: 267px;
  float: left;
}

h2, section.content-right article h3 {
  font-size: 20px;
  color: #668134;
  margin: 24px 0px;
}

.above-header {
  background: black;
}

#page {
  max-width: 1225px;
  margin: 0 auto;
}

#main-nav a {
  color: white;
  text-decoration: none;
  font-family: Georgia;
  font-size: 14px;
  padding: 0px 24px;
  line-height: 40px;
}
#main-nav a:hover {
  text-decoration: underline;
}

header#top {
  background: #668134 url(../images/bullfrog-header.png) no-repeat right center;
  font-family: Georgia;
  font-size: 72px;
  height: 125px;
  margin-bottom: 32px;
  padding: 50px 0px 0px 25px;
}
header#top .logo a {
  color: white;
  text-decoration: none;
}

body {
  background: white;
}

#content {
  width: 578px;
  float: left;
}

article {
  padding-left: 24px;
  padding-bottom: 20px;
  line-height: 27px;
}
article h1 {
  color: #668134;
  font-size: 34px;
  font-family: Georgia;
  padding-bottom: 20px;
}
article p {
  font-family: Arial, "Helvetica Neue", Helvetica, San Serif;
  padding-bottom: 20px;
}

section.content-center a,
section.content-right a {
  display: block;
  color: #668134;
  text-decoration: none;
  margin-bottom: 24px;
}
section.content-center a:hover,
section.content-right a:hover {
  text-decoration: underline;
}

section.content-center ul {
  font-family: Arial, "Helvetica Neue", Helvetica, San Serif;
}
section.content-center ul li a {
  display: block;
  color: #668134;
  text-decoration: none;
  margin-bottom: 24px;
}
section.content-center ul li a:hover {
  text-decoration: underline;
}

section.content-right article p {
  font-family: Abel;
  font-size: 16px;
}
section.content-right article h3 {
  margin-bottom: 12px;
}

footer {
  clear: both;
  background: black;
  color: white;
  padding: 20px;
}
